@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');
@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

ol.littlefoot--print, li.littlefoot--print {
  display: revert;
  /* padding-inline-start: 1.625em;
  list-style-type: decimal; */
}

span.littlefoot {
    background: unset !important;
}

.littlefoot__button {
  line-height: 1;
}

sup.littlefoot--print, span.littlefoot + sup {
    opacity: 0;
    width: 0;
}

.littlefoot {
  --button-background-color: #ff944d !important;
  --button-active-background-color: #803300 !important;
  --button-text-color: #2f2d2d !important;
  --button-font-size: 14px !important;
  --button-height: 20px !important;
  --button-padding: 0.25rem 0.3rem 0.5rem 0.3rem !important;
  --button-margin: 0 0 !important;
  --button-border-radius: 5px !important;
 
  --popover-background-color: #FFF !important;
  --popover-border: 2px solid var(--base-light) !important;
  --popover-horizontal-padding: 2.2rem !important;
  --popover-vertical-padding: 1.4rem !important;
  --popover-font-family: Charter !important;
  --popover-font-size: var(--text-s) !important;
  --popover-transform: opacity 1 !important;
  --popover-transition: opacity 0.25s ease !important;
 }

 .littlefoot > button {
	vertical-align: unset;
	font-family: Roboto;
	font-weight: 600;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --text-base: 1.15rem;
  --text-lg: 1.29rem;
  --text-xl: 1.44rem;
  --text-2xl: 1.73rem;
  --text-3xl: 2.16rem;
  --text-4xl: 2.59rem;
  --text-5xl: 3.45rem;

  --color-general-link: #ff944d;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter_regular-webfont.woff') format('woff'),
       url('/fonts/charter_regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter_bold-webfont.woff') format('woff'),
       url('/fonts/charter_bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter_italic-webfont.woff') format('woff'),
       url('/fonts/charter_italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter_bold_italic-webfont.woff') format('woff'),
       url('/fonts/charter_bold_italic-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

html, body {
  font-family: 'Charter', serif;
}

/* Use Inter for sidebar and toc */
#nd-sidebar, #nd-toc .prose {
  font-family: 'Inter', sans-serif !important;
  font-size: 0.85rem !important;
}

.prose {
  font-size: 1.2rem;
}

h3.not-prose.text-sm{
  font-size: 1rem;
  line-height: 1.2;
}

.prose .text-sm {
  font-size: 0.95rem;
}

.prose {
  --tw-prose-links: var(--color-general-link);
}

.prose :where(a:not([data-card])):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--color-general-link);
  text-decoration-color: var(--color-general-link);
}